#### 한글 글꼴 설치

In [7]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  fonts-nanum
0 upgraded, 1 newly installed, 0 to remove and 20 not upgraded.
Need to get 9,604 kB of archives.
After this operation, 29.5 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic/universe amd64 fonts-nanum all 20170925-1 [9,604 kB]
Fetched 9,604 kB in 1s (8,303 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package fonts-nanum.
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../fonts-nanum_20170925-1_all.deb ...
Unpacking fonts-nanum (20170925-1) ...
Setting up fonts-nanum (20170925-1) ...
Processing triggers for fontconfig (2.12.6-0ubuntu2) ...
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

- 런타임 재실행

#### 파일 업로드 및 압축 해제

In [8]:
# 파일 업로드
from google.colab import files
unloaded=files.upload()

Saving weather.zip to weather.zip

In [9]:
# 폴더 생성
!mkdir weather

In [10]:
# zip 파일 압축 해제
!unzip weather.zip -d ./weather  # weather.zip을 weather 폴더에 압축 해제

Archive:  weather.zip
기상청_URL.txt:  mismatching "local" filename (ъ╕░ьГБь▓н_URL.txt),
         continuing with "central" filename version
 extracting: ./weather/기상청_URL.txt
부산_1904_1913.csv:  mismatching "local" filename (ы╢АьВ░_1904_1913.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1904_1913.csv
부산_1914_1923.csv:  mismatching "local" filename (ы╢АьВ░_1914_1923.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1914_1923.csv
부산_1924_1933.csv:  mismatching "local" filename (ы╢АьВ░_1924_1933.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1924_1933.csv
부산_1934_1943.csv:  mismatching "local" filename (ы╢АьВ░_1934_1943.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1934_1943.csv
부산_1944_1953.csv:  mismatching "local" filename (ы╢АьВ░_1944_1953.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1944_1953.csv
부산_1954_1963.csv:  mismatching "local" filename (ы╢АьВ░_1954_1963.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1954_1963.csv
부산_1964_1973.csv:  mismatching "local" filename (ы╢АьВ░_1964_1973.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1964_1973.csv
부산_1974_1983.csv:  mismatching "local" filename (ы╢АьВ░_1974_1983.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1974_1983.csv
부산_1984_1993.csv:  mismatching "local" filename (ы╢АьВ░_1984_1993.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1984_1993.csv
부산_1994_2003.csv:  mismatching "local" filename (ы╢АьВ░_1994_2003.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_1994_2003.csv
부산_2004_2013.csv:  mismatching "local" filename (ы╢АьВ░_2004_2013.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_2004_2013.csv
부산_2014_2022.csv:  mismatching "local" filename (ы╢АьВ░_2014_2022.csv),
         continuing with "central" filename version
  inflating: ./weather/부산_2014_2022.csv
서울_1904_1913.csv:  mismatching "local" filename (ьДЬьЪ╕_1904_1913.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1904_1913.csv
서울_1914_1923.csv:  mismatching "local" filename (ьДЬьЪ╕_1914_1923.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1914_1923.csv
서울_1924_1933.csv:  mismatching "local" filename (ьДЬьЪ╕_1924_1933.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1924_1933.csv
서울_1934_1943.csv:  mismatching "local" filename (ьДЬьЪ╕_1934_1943.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1934_1943.csv
서울_1944_1953.csv:  mismatching "local" filename (ьДЬьЪ╕_1944_1953.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1944_1953.csv
서울_1954_1963.csv:  mismatching "local" filename (ьДЬьЪ╕_1954_1963.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1954_1963.csv
서울_1964_1973.csv:  mismatching "local" filename (ьДЬьЪ╕_1964_1973.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1964_1973.csv
서울_1974_1983.csv:  mismatching "local" filename (ьДЬьЪ╕_1974_1983.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1974_1983.csv
서울_1984_1993.csv:  mismatching "local" filename (ьДЬьЪ╕_1984_1993.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1984_1993.csv
서울_1994_2003.csv:  mismatching "local" filename (ьДЬьЪ╕_1994_2003.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_1994_2003.csv
서울_2004_2013.csv:  mismatching "local" filename (ьДЬьЪ╕_2004_2013.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_2004_2013.csv
서울_2014_2022.csv:  mismatching "local" filename (ьДЬьЪ╕_2014_2022.csv),
         continuing with "central" filename version
  inflating: ./weather/서울_2014_2022.csv

In [11]:
!pwd

/content

#### 날씨데이터를 이용한 분석

- 날씨데이터 하나로 병합하기

In [114]:
# 모듈 연결
import pandas as pd
import os

# 폴더의 파일 리스트 가져오기
fdir='./weather/'    # fdir='/content/weather/'
fnames=os.listdir(fdir)
print(fnames)

['부산_2014_2022.csv', '부산_2004_2013.csv', '서울_1984_1993.csv', '부산_1924_1933.csv', '서울_2014_2022.csv', '서울_1954_1963.csv', '서울_2004_2013.csv', '서울_1934_1943.csv', '서울_1914_1923.csv', '부산_1974_1983.csv', '부산_1914_1923.csv', '서울_1944_1953.csv', '서울_1964_1973.csv', '부산_1964_1973.csv', '부산_1954_1963.csv', '서울_1994_2003.csv', '부산_1944_1953.csv', '서울_1974_1983.csv', '부산_1994_2003.csv', '기상청_URL.txt', '부산_1934_1943.csv', '부산_1984_1993.csv', '서울_1904_1913.csv', '서울_1924_1933.csv', '부산_1904_1913.csv']

In [115]:
# 첫번째 데이터 가져오기
df1=pd.read_csv(fdir+fnames[-1], encoding='cp949')
df1.head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s)
0,159,부산,1904-04-09,11.3,7.8,16.1,14.8,12.3,9.6
1,159,부산,1904-04-10,9.3,4.7,15.2,NaN,8.4,4.3
2,159,부산,1904-04-11,10.6,NaN,14.9,1.0,6.0,3.7
3,159,부산,1904-04-12,11.3,8.8,13.4,1.8,7.1,6.3
4,159,부산,1904-04-13,14.5,11.1,16.9,1.5,8.6,5.5

In [116]:
# 모든 데이터 하나로 만들기
df0=pd.DataFrame()

for fn in fnames:
    df1=pd.read_csv(fdir+fn, encoding='cp949')   # 순차적으로 데이터 읽어오기
    if fn[-3:] == "txt":
        continue    # for문의 다음 데이터로 넘어가기
    else:
        df0=pd.concat([df0, df1], ignore_index=True) # 두개의 파일 행 병합(추가)후 index 재설정

df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86581 entries, 0 to 86580
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점          86581 non-null  int64
 1   지점명         86581 non-null  object
 2   일시          86581 non-null  object
 3   평균기온(°C)    86375 non-null  float64
 4   최저기온(°C)    86363 non-null  float64
 5   최고기온(°C)    86368 non-null  float64
 6   일강수량(mm)    33704 non-null  float64
 7   최대 풍속(m/s)  86155 non-null  float64
 8   평균 풍속(m/s)  86307 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 5.9+ MB

In [117]:
df0.head()

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s)
0,159,부산,2014-01-01,7.3,4.9,9.9,NaN,8.7,5.3
1,159,부산,2014-01-02,7.4,3.8,12.0,NaN,5.8,2.7
2,159,부산,2014-01-03,8.1,5.1,13.5,NaN,5.0,2.4
3,159,부산,2014-01-04,7.4,4.6,12.4,NaN,5.8,2.7
4,159,부산,2014-01-05,6.5,3.5,11.3,NaN,5.8,2.9

#### 데이터 전처리
- NaN 값 확인

In [118]:
# NaN 데이터 개수 확인
df0.isna().sum()

지점                0
지점명               0
일시                0
평균기온(°C)        206
최저기온(°C)        218
최고기온(°C)        213
일강수량(mm)      52877
최대 풍속(m/s)      426
평균 풍속(m/s)      274
dtype: int64

In [119]:
# NaN 값 출력
#df0[df0.isna()]

In [120]:
# NaN 값 확인
import numpy as np

df0[df0['평균기온(°C)'].isnull()]

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s)
43797,108,서울,1950-09-01,NaN,NaN,NaN,0.0,NaN,NaN
43798,108,서울,1950-09-03,NaN,NaN,NaN,0.0,NaN,NaN
43799,108,서울,1950-09-04,NaN,NaN,NaN,2.3,NaN,NaN
43800,108,서울,1950-09-05,NaN,NaN,NaN,53.0,NaN,NaN
43801,108,서울,1950-09-08,NaN,NaN,NaN,2.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...
43998,108,서울,1953-11-23,NaN,NaN,NaN,0.0,NaN,NaN
43999,108,서울,1953-11-24,NaN,NaN,NaN,0.0,NaN,NaN
44000,108,서울,1953-11-25,NaN,NaN,NaN,0.0,NaN,NaN
44001,108,서울,1953-11-26,NaN,NaN,NaN,1.7,NaN,NaN
44002,108,서울,1953-11-30,NaN,NaN,NaN,33.5,NaN,NaN

- NaN 값 제거하기
    * df.dropna(axis=0, how="all", subset=None, inplace=True) => 기본 구성
    * axis: 0=>행단위, 1=>열단위 삭제
    * how='all': NaN이 포함된 모든 데이터(행/열) 삭제
    * how='any': 각 열의 데이터에서 NaN가 1개 이상이면 삭제
    * subset: 특정 필드(열) 지정

In [121]:
# NaN이 존재하는 모든 행 삭제
df1=df0.dropna()   
print(df0.shape)
print(df1.shape)
print(df1.isna().sum())

(86581, 9)
(33414, 9)
지점            0
지점명           0
일시            0
평균기온(°C)      0
최저기온(°C)      0
최고기온(°C)      0
일강수량(mm)      0
최대 풍속(m/s)    0
평균 풍속(m/s)    0
dtype: int64

In [122]:
df0.columns

Index(['지점', '지점명', '일시', '평균기온(°C)', '최저기온(°C)', '최고기온(°C)', '일강수량(mm)',
       '최대 풍속(m/s)', '평균 풍속(m/s)'],
      dtype='object')

In [123]:
# 특정 열에 NaN이 존재하는 모든 행 삭제
df1=df0.dropna(subset=['평균기온(°C)'])
df1.shape

(86375, 9)

In [124]:
df1=df0.dropna(subset=['평균기온(°C)', '최저기온(°C)', '최고기온(°C)'],
               how='all',axis=0)
df1.shape

(86375, 9)

In [125]:
df1.isnull().sum()

지점                0
지점명               0
일시                0
평균기온(°C)          0
최저기온(°C)         12
최고기온(°C)          7
일강수량(mm)      52877
최대 풍속(m/s)      220
평균 풍속(m/s)       68
dtype: int64

- 결측지(NaN) 특정 값을 채우기
    * df.fillna(값): NaN을 입력값으로 수정
    * pad/ffill: 앞행에 있는 데이터로 채우기 -> 옵션을 주는 것
    * bfill/backfill : 뒤 행에 있는 데이터로 채우기

In [126]:
df1.fillna(0) # 모든 NaN을 0으로 채우기

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s)
0,159,부산,2014-01-01,7.3,4.9,9.9,0.0,8.7,5.3
1,159,부산,2014-01-02,7.4,3.8,12.0,0.0,5.8,2.7
2,159,부산,2014-01-03,8.1,5.1,13.5,0.0,5.0,2.4
3,159,부산,2014-01-04,7.4,4.6,12.4,0.0,5.8,2.7
4,159,부산,2014-01-05,6.5,3.5,11.3,0.0,5.8,2.9
...,...,...,...,...,...,...,...,...,...
86576,159,부산,1913-12-27,3.8,0.5,7.2,0.0,10.0,4.7
86577,159,부산,1913-12-28,2.5,-0.7,6.6,0.0,9.2,5.6
86578,159,부산,1913-12-29,4.8,-1.6,11.2,0.0,11.6,4.6
86579,159,부산,1913-12-30,1.1,-2.9,4.9,0.0,14.2,9.1
86580,159,부산,1913-12-31,-0.7,-4.8,3.1,0.0,12.2,7.2

In [127]:
# 일일 강수량 NaN을 0으로 채우기
df1['일강수량(mm)']=df1['일강수량(mm)'].fillna(0)
df1

<ipython-input-127-7a8ce2730b8d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['일강수량(mm)']=df1['일강수량(mm)'].fillna(0)

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s)
0,159,부산,2014-01-01,7.3,4.9,9.9,0.0,8.7,5.3
1,159,부산,2014-01-02,7.4,3.8,12.0,0.0,5.8,2.7
2,159,부산,2014-01-03,8.1,5.1,13.5,0.0,5.0,2.4
3,159,부산,2014-01-04,7.4,4.6,12.4,0.0,5.8,2.7
4,159,부산,2014-01-05,6.5,3.5,11.3,0.0,5.8,2.9
...,...,...,...,...,...,...,...,...,...
86576,159,부산,1913-12-27,3.8,0.5,7.2,0.0,10.0,4.7
86577,159,부산,1913-12-28,2.5,-0.7,6.6,0.0,9.2,5.6
86578,159,부산,1913-12-29,4.8,-1.6,11.2,0.0,11.6,4.6
86579,159,부산,1913-12-30,1.1,-2.9,4.9,0.0,14.2,9.1
86580,159,부산,1913-12-31,-0.7,-4.8,3.1,0.0,12.2,7.2

In [128]:
df1.isna().sum()

지점              0
지점명             0
일시              0
평균기온(°C)        0
최저기온(°C)       12
최고기온(°C)        7
일강수량(mm)        0
최대 풍속(m/s)    220
평균 풍속(m/s)     68
dtype: int64

In [129]:
df1[df1['최저기온(°C)'].isna()]
df1.loc[45178:45180]

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s)
45178,108,서울,1967-02-18,-4.6,-9.3,0.7,0.0,4.8,2.5
45179,108,서울,1967-02-19,-1.7,NaN,NaN,0.0,NaN,1.8
45180,108,서울,1967-02-20,1.7,-3.0,5.8,0.0,5.5,2.4

In [130]:
df1.loc[45178:45180]['최대 풍속(m/s)'].mean()

5.15

In [131]:
# 앞 행에 있는 데이터로 채우기
df1['최저기온(°C)']=df1['최저기온(°C)'].fillna(method='pad')

# 뒤 행에 있는 데이터로 채우기
df1['최고기온(°C)']=df1['최고기온(°C)'].fillna(method='bfill')

<ipython-input-131-4072ad335db1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['최저기온(°C)']=df1['최저기온(°C)'].fillna(method='pad')
<ipython-input-131-4072ad335db1>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['최고기온(°C)']=df1['최고기온(°C)'].fillna(method='bfill')

In [132]:
# 최대풍속 평균 계산후 소수 첫째자리까지 출력
mn = (np.round(df1['최대 풍속(m/s)'].mean(), 1)) 
print(mn)
df1['최대 풍속(m/s)']=df1['최대 풍속(m/s)'].fillna(mn)
df1.loc[45178:45180]

6.8

<ipython-input-132-4d3499e6b301>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['최대 풍속(m/s)']=df1['최대 풍속(m/s)'].fillna(mn)

,지점,지점명,일시,평균기온(°C),최저기온(°C),최고기온(°C),일강수량(mm),최대 풍속(m/s),평균 풍속(m/s)
45178,108,서울,1967-02-18,-4.6,-9.3,0.7,0.0,4.8,2.5
45179,108,서울,1967-02-19,-1.7,-9.3,5.8,0.0,6.8,1.8
45180,108,서울,1967-02-20,1.7,-3.0,5.8,0.0,5.5,2.4

In [133]:
mn=np.round(df1['평균 풍속(m/s)'].mean(), 1)
print(mn)
df1['평균 풍속(m/s)']=df1['평균 풍속(m/s)'].fillna(mn)
df1.isna().sum()

3.3

<ipython-input-133-15f603892702>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['평균 풍속(m/s)']=df1['평균 풍속(m/s)'].fillna(mn)

지점            0
지점명           0
일시            0
평균기온(°C)      0
최저기온(°C)      0
최고기온(°C)      0
일강수량(mm)      0
최대 풍속(m/s)    0
평균 풍속(m/s)    0
dtype: int64

- 지점 제거

In [134]:
df1=df1.drop('지점', axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86375 entries, 0 to 86580
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지점명         86375 non-null  object
 1   일시          86375 non-null  object
 2   평균기온(°C)    86375 non-null  float64
 3   최저기온(°C)    86375 non-null  float64
 4   최고기온(°C)    86375 non-null  float64
 5   일강수량(mm)    86375 non-null  float64
 6   최대 풍속(m/s)  86375 non-null  float64
 7   평균 풍속(m/s)  86375 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.9+ MB

- columns 명 변경

In [136]:
df1.columns=['지점명', '일시', '평균기온', '최저기온', '최고기온', '일강수량','최대풍속', '평균풍속']
df1.columns

Index(['지점명', '일시', '평균기온', '최저기온', '최고기온', '일강수량', '최대풍속', '평균풍속'], dtype='object')