### MySQL과 MariaDB

#### MySQL
- 90년대 중반에 개발된 MySQL은 시장에서 사용할 수 있는 최초의 오픈 DB중 하나
- 가장 널리 사용되고 있는 관계형 데이터베이스 관리 시스템(RDBMS: Relational DBMS)
- 장점
    - 단순 쿼리 처리 성능이 어떤 제품보다 압도적 뛰어남
    - 오래 사용되어 왔기 때문에 성능과 신뢰성 등에서 꾸준히 개선
    - 오픈 소스 DB로 다중 사용자와 다중 스레드를 지원
    - C언어, C++, JAVA, PHP 등 여러 프로그래밍 언어를 위한 다양한 API를 제공
- 유닉스, 리눅스, 윈도우 등 다양한 운영체제에서 사용
- PHP와 함께 웹 개발에 자주 사용
- 상업적으로 사용할 때는 상업용 라이센스를 구입해야만 함

#### MariaDB
- MySQL 데이터베이스 시스템을 기반으로 fork한 서비스로 MySQL의 개선된 버전
- MySQL과 호환성이 매우 높음
- MySQL에서 찾을 수 없는 수많은 내장된 강력한 기능과 많은 유용성, 보안 및 성능 개선사항이 함께 제공
- 참조: https://mariadb.com/kb/ko/mariadb-korean-mariadb-mysql-/

### MySQL 연결 및 테스트
- 1. MariaDB 연결: 연결자이름=pymysql.connect(연결옵션)
- 2. 커서생성: 커서이름=연결자이름.cursor()
- 3. SQL문 실행: 커서이름.execute("SQL문장")
- 4. 데이터저장: 연결자이름.commit()
- 5. MariaDB 연결종료: 연결자이름.close()

In [7]:
# 모듈 설치
# !pip install pymysql

#### MySQL DB연결 테이블 생성
- conn = pymysql.connect(host='MariaDB서버 IP', user='root', password='1234', db='pythonDB', charset='utf8')
- cur = conn.cursor()
- sql = "CREATE TABLE IF NOT EXISTS userTable (id char(4), userName char(10), email char(15), birthYear int)"

In [8]:
import pymysql

# 연결자 생성 => 접속 정보
conn=pymysql.connect(host='127.0.0.1', user='root', password='123456',
                     port=3306, db='pydb', charset='utf8')
cur=conn.cursor()  # 커서 생성

# 테이블 생성 SQL 쿼리문 작성
sql = "CREATE TABLE IF NOT EXISTS userTable(id char(4), userName char(15), email char(25), birthYear int)"

# 커서를 통해서 SQL 쿼리문 실행
cur.execute(sql)

# 연결자를 통해 최종 저장
conn.commit()

# 연결자 종료
conn.close()

#### 데이터 추가

In [9]:
import pymysql

conn=pymysql.connect(host='127.0.0.1', user='root', password='123456',
                     port=3306, db='pydb', charset='utf8')
cur=conn.cursor()  # 커서 생성

# 데이터 추가 SQL문
sql='insert into userTable values("deu1", "홍길동", "hkd001@naver.com", 2000)'

# 데이터 추가 쿼리 실행
cur.execute(sql)

conn.commit()
conn.close()

In [10]:
# 사용자에게 여러개의 데이터를 입력받아 SQL 서버에 저장
import pymysql

conn=pymysql.connect(host='127.0.0.1', user='root', password='123456',
                     port=3306, db='pydb', charset='utf8')
cur=conn.cursor()  # 커서 생성

while True:
    iddt=input('사용자 ID 입력:')
    if iddt =="":break
    namedt=input('사용자 이름 입력:')
    emaildt=input('사용자 이메일 입력:')
    yeardt=input('사용자 출생년도 입력:')
    
    sql=f'insert into userTable values("{iddt}", "{namedt}", "{emaildt}", {yeardt})'
    cur.execute(sql)
    print(f'{namedt}님 자료를 저장하였습니다.')
    
conn.commit()
conn.close()

KeyboardInterrupt: Interrupted by user

#### 데이터 조회하기

In [11]:
### 입력된 모든 데이터 출력
import pymysql

conn=pymysql.connect(host='127.0.0.1',user='root',password='123456',
                    port=3306,db='pydb',charset='utf8')

cur=conn.cursor() # 커서 생성

sql ='select * from userTable'
cur.execute(sql)

result=cur.fetchall() # 조회 결과를 result 변수에 넣어줌
conn.close()

result  # 결과는 튜플 구조로 출력

(('deu1', '홍길동', 'hong@naver.com', 2000),
 ('deu2', '김장고', 'kimZ@naver.com', 1980),
 ('deu3', '이개발', 'leedog@empas.com', 1996),
 ('deu4', '박장고', 'parkjang@ccs.ac.kr', 2006),
 ('deu5', '부반성', 'bee@kkk.kr', 1970))

In [ ]:
print('===============================================')
print(f'사용자ID   이름     이메일     출생년도')
print('===============================================')

for res in result:
    iddt = res[0]
    namedt = res[1]
    emaildt = res[2]
    yeardt = res[3]
    print(f'{iddt}    {namedt}    {emaildt}    {yeardt}')

In [12]:
for res in result:
    idData = res[0]
    nameData = res[1]
    emailData = res[2]
    yearData = res[3]
    print(f'{idData}, {nameData}, {emailData}, {yearData}')

deu1, 홍길동, hong@naver.com, 2000
deu2, 김장고, kimZ@naver.com, 1980
deu3, 이개발, leedog@empas.com, 1996
deu4, 박장고, parkjang@ccs.ac.kr, 2006
deu5, 부반성, bee@kkk.kr, 1970

In [15]:
import pandas as pd

df=pd.DataFrame(result,columns=['사용자ID', '이름', '이메일', '출생생년'])
df

  사용자ID   이름                 이메일  출생생년
0  deu1  홍길동      hong@naver.com  2000
1  deu2  김장고      kimZ@naver.com  1980
2  deu3  이개발    leedog@empas.com  1996
3  deu4  박장고  parkjang@ccs.ac.kr  2006
4  deu5  부반성          bee@kkk.kr  1970

### [미션] 신규지 추가
- 신규 등록 ID를 입력받아 검색 후 없을 경우에만 추가 등록한다.

In [7]:
### 입력된 모든 데이터 출력
import pymysql

conn=pymysql.connect(host='127.0.0.1',user='root',password='123456',
                    port=3306,db='pydb',charset='utf8')

cur=conn.cursor() # 커서 생성

while True:
    idData=input('사용자 ID 입력: ')
    sql1 = f'select * from userTable where exists (select id from userTable where id="{idData}")'
    check = cur.execute(sql1)
    if check != 0: print("존재하는 ID 입니다."); break;
    nameData=input('사용자 이름 입력:')
    emailData=input('사용자 이메일 입력:')
    yearData=input('사용자 출생년도 입력:')
    
    sql2=f'INSERT into userTable values("{idData}", "{nameData}", "{emailData}", "{yearData}")'
    cur.execute(sql2)
    conn.commit()
    print(sql2)

conn.close()

사용자 ID 입력: deu7
사용자 이름 입력:박치나
사용자 이메일 입력:dfjkl@naver.com
사용자 출생년도 입력:1999
INSERT into userTable values("deu7", "박치나", "dfjkl@naver.com", "1999")
사용자 ID 입력: deu7
존재하는 ID 입니다.

#### 파이선 GUI 만들기
- tkinter 모듈
- PyQt5: https://wikidocs.net/book/2165

pip install tk

In [2]:
from tkinter import *
from tkinter import messagebox

In [6]:
# 메인 화면 생성(root windows) 
tk=Tk()

def event1():
    button1['text']= '버튼 클릭'
    button2['text']= '버튼2'

def event2():
    button1['text']= '버튼1'
    button2['text']= '버튼 클릭'
    
# 출력 텍스트 입력
label = Label(tk, text='번튼 클릭 실습')
button1=Button(tk, text='버튼1', command=event1)
button2=Button(tk, text='버튼2', command=event2)

# 객체 배치 정의
label.pack()
button1.pack(side=LEFT, padx=10, pady=10)  # side 배치 설정
button2.pack(side=LEFT, padx=10, pady=10)  #  padx: 좌우여백,  pady: 상하여백
# 메인 화면 실행
tk.mainloop()

- 평수 <=> 제곱메터 변환기

In [5]:
from tkinter import *

tk=Tk()
tk.geometry('300x200')
tk.title('면적 변환기')

## 버튼 클릭시 실행할 함수
def Ft2M():   # 평 => 제곱미터
    ft2m=entry1.get()
    entry2.delete(0, "end")
    entry2.insert(0, round(float(ft2m)*3.3, 2))
    
def M2Ft():   # 제곱미터 => 평
    m2ft=entry2.get()
    entry1.delete(0, "end")
    entry1.insert(0, round(float(m2ft)/3.3, 2))
    

## 화면 구성 객체 생성
## 레이블 생성
label1=Label(tk, text='평').grid(row=0, column=0)
label2=Label(tk, text='제곱미터').grid(row=1, column=0)

## 텍스트 상자
entry1=Entry(tk)    # 평 출력
entry2=Entry(tk)    # 제곱미터 출력
entry1.grid(row=0, column=1)
entry2.grid(row=1, column=1)

btu1 = Button(tk, text='평 => 제곱미터', bg='black', fg='white', 
              command=Ft2M).grid(row=2, column=0)
btu2 = Button(tk, text='제곱미터 => 평', bg='black', fg='white', 
              command=M2Ft).grid(row=2, column=1)

tk.mainloop()